<!DOCTYPE html>
<html>

<head>

    <title>Add Timetable</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="container">

        <h1>Add Timetable</h1>

        <form method="POST">

            <input type="text"
                   name="day"
                   placeholder="Day">

            <input type="text"
                   name="subject"
                   placeholder="Subject">

            <input type="text"
                   name="time"
                   placeholder="Time">

            <button type="submit">

                Add Timetable

            </button>

        </form>
       <a href="/admin_dashboard">

       <button type="button">

        Back

        </button>

      </a>
    </div>

</body>

</html>