<!DOCTYPE html>
<html>

<head>

    <title>Add Student</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="container">

        <h1>Add Student</h1>

        <form method="POST" enctype="multipart/form-data">

            <input type="text" name="name" placeholder="Student Name">
            <input type="email" name="email" placeholder="Student Email">

            <input type="text" name="roll" placeholder="Roll Number">

            <input type="text" name="course" placeholder="Course">
            <input type="file" name="photo">

            <button type="submit">Add Student</button>

        </form>

    </div>

</body>

</html>