<!DOCTYPE html>
<html>

<head>

    <title>Forgot Password</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="container">

        <h1>Forgot Password</h1>

        <form method="POST">

            <input type="email"
                   name="email"
                   placeholder="Enter Email">

            <input type="password"
                   name="new_password"
                   placeholder="New Password">

            <button type="submit">

                Reset Password

            </button>

        </form>

        <a href="/">

            <button type="button">

                Back Login

            </button>

        </a>

    </div>

</body>

</html>