<!DOCTYPE html>
<html>

<head>

    <title>Search Student</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="container">

        <h1>Search Student</h1>

        <form method="POST">

            <input type="text"
                   name="search"
                   placeholder="Enter Student Name" minlength="1" required>

            <button type="submit">Search</button>

        </form>

        <br>

        <table border="1" width="100%">

            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Roll</th>
                <th>Course</th>
            </tr>

            {% for student in students %}

            <tr>
                <td>{{ student[0] }}</td>
                <td>{{ student[1] }}</td>
                <td>{{ student[2] }}</td>
                <td>{{ student[3] }}</td>
            </tr>

            {% endfor %}

        </table>

    </div>

</body>

</html>