<!DOCTYPE html>
<html>

<head>

    <title>View Marks</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="container table-container">

        <h1>Marks List</h1>

        <table class="student-table">

            <tr>

                <th>ID</th>
                <th>Student Name</th>
                <th>Subject</th>
                <th>Marks</th>

            </tr>

            {% for item in marks %}

            <tr>

                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                <td>{{ item[3] }}</td>

            </tr>

            {% endfor %}

        </table>

    </div>

</body>

</html>