<!DOCTYPE html>
<html>

<head>

    <title>View Students</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="table-wrapper">

    <div class="container table-container">

        <h1>Student List</h1>

        {% with messages = get_flashed_messages() %}

            {% if messages %}

                {% for message in messages %}

                    <div class="flash-message">
                        {{ message }}
                    </div>

                {% endfor %}

            {% endif %}

        {% endwith %}

        <table class="student-table">

            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Roll</th>
                <th>Course</th>
                <th>Actions</th>
                <th>Photo</th>
            </tr>

            {% for student in students %}

            <tr>

                <td>{{ student[0] }}</td>
                <td>{{ student[1] }}</td>
                <td>{{ student[2] }}</td>
                <td>{{ student[3] }}</td>

                <td>

                    <a href="/delete_student/{{ student[0] }}">
                        <button>Delete</button>
                    </a>

                    <a href="/update_student/{{ student[0] }}">
                        <button>Update</button>
                    </a>

                </td>
             <td>

    <img src="{{ url_for('static', filename='uploads/' + student[5]) }}"
         width="80">

</td>
            </tr>

            {% endfor %}

        </table>

    </div>
    </div>


</body>

</html>